$colors: (
        default: #aaaaaa,
        ddefault: #dddddd,
        hdefault: #777777,
        primary: #337ab7,
        dprimary: rgba(51,122,183,0.5),
        success: #5cb85c,
        dsuccess: rgba(92,184,92,0.5),
        danger: #d9534f,
        ddanger: rgba(217,83,79,0.5),
        warning: #f0ad4e,
        dwarning: rgba(240,173,78,0.5),
);

@function color($name) {
  @if map-has-key($colors, $name) {
    @return map-get($colors, $name);
  } @else {
    @warn "Color not found: #{$name}";
    @return #000;
  }
}

$radiusDefault: 3px;
$radiusRound: 25px;
$iconWidth: 30px;
$paddingVertical: 5px;
$iconCheckbox: '\2714';
$iconCombine: '\2795';
$iconRadio: '\26AB';
