@use './variables';
@use './mixins.scss' as *;

.enhancedCheck-inline {
  display: inline;
  div {
    display: inline;
  }
}


.enhancedCheck {
  div {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
  }
  label {
    @include labelBorderRadius(var(--enhanced-check-radius-default) 0 0 var(--enhanced-check-radius-default));
  }
  input[type="radio"], input[type="checkbox"] {
    display: none;
    & + label {
      @include colorLabel(var(--enhanced-check-color-default), var(--enhanced-check-color-light-default));
      border: 1px solid var(--enhanced-check-color-default);
      color: inherit;
      position: relative;
      padding: var(--enhanced-check-padding-vertical) var(--enhanced-check-padding-horizontal) var(--enhanced-check-padding-vertical) calc(var(--enhanced-check-icon-width) + var(--enhanced-check-padding-horizontal));
      cursor: pointer;
      display: inline-block;
      &:before {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        content: '';
        width: var(--enhanced-check-icon-width);
        background: var(--enhanced-check-color-light-default);
        text-align: center;
        line-height: 200%;
      }
    }
    &:disabled + label {
      cursor: not-allowed;
    }

    &:not(:checked) {
      & + label {
        &:hover {
          color: var(--enhanced-check-color-dark-default);
          &:before {
            color: var(--enhanced-check-color-default);
          }
        }
      }

    }

  }
  input[type="checkbox"] {
    &:not(:checked) + label:hover:before {
      content: var(--enhanced-check-icon-checkbox);
    }
    &:checked + label:before {
      content: var(--enhanced-check-icon-checkbox);
    }
  }
  input[type="radio"] {
    &:not(:checked) + label:hover:before {
      content: var(--enhanced-check-icon-radio);
    }
    &:checked + label:before {
      content: var(--enhanced-check-icon-radio);
    }
  }
  &.enhancedCheck-combine {
    input[type="checkbox"] {
      &:not(:checked) + label:hover:before {
        content: var(--enhanced-check-icon-combine);
      }
      &:checked + label:before {
        content: var(--enhanced-check-icon-combine);
      }
    }
  }

  &.enhancedCheck-primary {
    input[type="radio"], input[type="checkbox"] {
      @include colorLabel(var(--enhanced-check-color-primary), var(--enhanced-check-color-dark-primary));
    }
  }
  &.enhancedCheck-success {
    input[type="radio"], input[type="checkbox"] {
      @include colorLabel(var(--enhanced-check-color-success), var(--enhanced-check-color-dark-success));
    }
  }
  &.enhancedCheck-warning {
    input[type="radio"], input[type="checkbox"] {
      @include colorLabel(var(--enhanced-check-color-warning), var(--enhanced-check-color-dark-warning));
    }
  }
  &.enhancedCheck-danger {
    input[type="radio"], input[type="checkbox"] {
      @include colorLabel(var(--enhanced-check-color-danger), var(--enhanced-check-color-dark-danger));
    }
  }

  &.enhancedCheck-animate {
    label {
      transition: color var(--enhanced-check-transition-time) ease;
      -webkit-transition: color var(--enhanced-check-transition-time) ease;
      &:before {
        transition: background-color var(--enhanced-check-transition-time) ease;
        -webkit-transition: background-color var(--enhanced-check-transition-time) ease;
      }
    }
  }

  &.enhancedCheck-rounded {
    label {
      @include labelBorderRadius(var(--enhanced-check-radius-round));
    }
  }

}


.enhancedToggle {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  height: 2em;
  @include colorToggle(var(--enhanced-check-color-default), var(--enhanced-check-color-dark-default));
  border: 1px solid var(--enhanced-check-color-border);
  border-radius: var(--enhanced-check-radius-default);
  margin-top: 5px;
  margin-bottom: 5px;

  &.enhancedCheck-rounded {
    border-radius: var(--enhanced-check-radius-round);
  }

  label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 200%;
    transition: left var(--enhanced-check-transition-time-toggle);
    -webkit-transition: left var(--enhanced-check-transition-time-toggle);
  }

  &.enhancedCheck-checked label {
    left: 0;
  }

  &.enhancedCheck-disabled label {
    cursor: not-allowed;
  }

  &.enhancedCheck-primary {
    @include colorToggle(var(--enhanced-check-color-primary), var(--enhanced-check-color-dark-primary));
  }
  &.enhancedCheck-success {
    @include colorToggle(var(--enhanced-check-color-success), var(--enhanced-check-color-dark-success));
  }
  &.enhancedCheck-warning {
    @include colorToggle(var(--enhanced-check-color-warning), var(--enhanced-check-color-dark-warning));
  }
  &.enhancedCheck-danger {
    @include colorToggle(var(--enhanced-check-color-danger), var(--enhanced-check-color-dark-danger));
  }

  .enhancedToggle-label {
    padding: var(--enhanced-check-padding-vertical) var(--enhanced-check-padding-horizontal);
    transition: background var(--enhanced-check-transition-time-toggle);
    -webkit-transition: background var(--enhanced-check-transition-time-toggle);

    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: var(--enhanced-check-radius-default);
    color: inherit;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    text-align: center;

    &.labelOn {
      left: 0;
      padding-right: calc(var(--enhanced-check-padding-horizontal) + 30px);
    }
    &.labelOff {
      right: 0;
      padding-left: calc(var(--enhanced-check-padding-horizontal) + 30px);
    }
  }

  .enhancedToggle-switch {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    border: 1px solid var(--enhanced-check-color-border);
    border-radius: var(--enhanced-check-radius-default);
    width: 20px;
    z-index: 20;
    background: white;
  }

  &.enhancedCheck-rounded {
    .enhancedToggle-label,.enhancedToggle-switch {
      border-radius: var(--enhanced-check-radius-round);
    }
  }



}

