$colorBorder: #51626f;
$colorDefault: #aaaaaa;
$colorLdefault: #dddddd;
$colorDdefault: #777777;
$colorPrimary: #337ab7;
$colorDprimary: rgba(51,122,183,0.5);
$colorSuccess: #5cb85c;
$colorDsuccess: rgba(92,184,92,0.5);
$colorDanger: #d9534f;
$colorDdanger: rgba(217,83,79,0.5);
$colorWarning: #f0ad4e;
$colorDwarning: rgba(240,173,78,0.5);

$radiusDefault: 3px;
$radiusRound: 25px;
$iconWidth: 30px;
$paddingVertical: 5px;
$paddingHorizontal: 5px;
$paddingHorizontalToggle: 10px;
$iconCheckbox: '\2714';
$iconCombine: '\271A';
$iconRadio: '\2B24';
$transitionTime: 1s;
$transitionTimeToggle: 0.5s;
